* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    padding: 30px;
}

#mainButton {
    border: 1px solid black;
    border-radius: .7rem;
    padding: 1rem 2rem;
    background-color: aqua;
}

#mainButton:active {
    background-color: red;
}